@model ServiceClient.Models.UserModel
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div style="font-family:PacificRegular">
    <h2 style="font-family:PacificRegular">SignIn</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="border-radius: 4px 4px 4px 4px">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "myclass" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="border-radius: 4px 4px 4px 4px">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "myclass" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <br /><br />
                <input type="submit" value="Sign In" class="btn btn-default" style="border-radius: 4px 4px 4px 4px;width:100px" />
            </div>
        </div>

    }

    <div>
        <br /><br />
        @Html.ActionLink("Not an Existing User, Register", "Create", "Login");
    </div>

</div>
